In [2]:
import os
import json
import torch
import numpy as np
import matplotlib.pyplot as plt
from ratsql.utils.analysis import cal_attention_flow
from ratsql.commands.infer import Inferer
from run_all import test_example, load_model, TestInfo
import _jsonnet
from search import read_data, match, show_results
import warnings

In [3]:
# Paths
project_dir = "/home/hkkang/NL2QGM"
original_eval_file = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_original_eval/bert_run_true_1-step_41600-eval.json"
original_infer_file = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_original_eval/bert_run_true_1-step_41600-infer.jsonl"

my_eval_file = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-eval.json"
my_infer_file = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-infer.jsonl"

# eval file path
ori_eval_path = os.path.join(project_dir, original_eval_file)
my_eval_path = os.path.join(project_dir, my_eval_file)
# Infer file path
ori_infer_path = os.path.join(project_dir, original_infer_file)
my_infer_path = os.path.join(project_dir, my_infer_file)

In [4]:
def load_json_custom(path):
    result = json.load(open(path))['per_item']
    print(len(result))
    return result

def load_jsonl(path):
    with open(path, 'r') as f:
        results = [json.loads(line) for line in f.readlines()]
    return results

def load_eval_files(eval_paths):
    eval_list = [load_json_custom(path) for path in eval_paths]
    return eval_list

def load_infer_files(infer_paths):
    infer_list = [load_jsonl(path) for path in infer_paths]
    return infer_list

def compare(e_data1, e_data2, i_data1, i_data2):
    assert len(e_data1) == len(e_data2)
    assert len(i_data1) == len(i_data2)
    assert len(e_data1) == len(i_data1)
    
    left_correct_only = []
    right_correct_only = []
    for idx ,(datum1, datum2) in enumerate(zip(e_data1, e_data2)):
        if datum1['exact'] != datum2['exact']:
            print(f"Idx:{idx} different! {bool(datum1['exact'])} - {datum2['exact']}")
            if datum1['exact']:
                left_correct_only.append(idx)
            else:
                right_correct_only.append(idx)

            # Detail print
            infer_datum1 = i_data1[idx]
            infer_datum2 = i_data2[idx]
            print(f"db_id: {infer_datum1['db_id']}")
            print(f"question: {infer_datum1['question']}")
            print(f"gold: {datum1['gold']}")
            print(f"pred1: {datum1['predicted']}")
            print(f"pred2: {datum2['predicted']}\n")
            
    print(f"Summary: {len(left_correct_only)} vs {len(right_correct_only)}")
    return left_correct_only, right_correct_only

In [5]:
ori_eval, my_eval = load_eval_files([ori_eval_path, my_eval_path])
ori_infer, my_infer = load_infer_files([ori_infer_path, my_infer_path])
compare(ori_eval, my_eval, ori_infer, my_infer)

1034
1034
Idx:51 different! False - True
db_id: pets_1
question: Find number of pets owned by students who are older than 20.
gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20
pred1: SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Student.Age > 'terminal'
pred2: SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Student.Age > 'terminal'

Idx:52 different! False - True
db_id: pets_1
question: How many pets are owned by students that have an age greater than 20?
gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20
pred1: SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Student.Age > 'terminal'
pred2: SELECT Count(*) FROM Student JOIN Has_Pet ON Student.StuID = Has_Pet.StuID JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Student.Age > 'terminal'

Idx:61 different! False - True
db_id: pets_1
question: Find the major and age of students who do not have a cat pet.
gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')
pred1: SELECT Student.Major, Student.Age FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal')
pred2: SELECT Student.Major, Student.Age FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal')

Idx:62 different! False - True
db_id: pets_1
question: What major is every student who does not own a cat as a pet, and also how old are they?
gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')
pred1: SELECT Student.Major, Student.Age FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal')
pred2: SELECT Student.Major, Student.Age FROM Student WHERE Student.StuID NOT IN (SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal')

Idx:63 different! False - True
db_id: pets_1
question: Find the id of students who do not have a cat pet.
gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'
pred1: SELECT Student.StuID FROM Student EXCEPT SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal'
pred2: SELECT Student.StuID FROM Student EXCEPT SELECT Has_Pet.StuID FROM Has_Pet JOIN Pets ON Has_Pet.PetID = Pets.PetID WHERE Pets.PetType = 'terminal'

Idx:79 different! False - True
db_id: pets_1
question: Find the number of pets for each student who has any pet and student id.
gold: SELECT count(*) ,  T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid
pred1: SELECT Count(*), Has_Pet.StuID FROM Has_Pet GROUP BY Has_Pet.StuID
pred2: SELECT Count(*), Has_Pet.StuID FROM Has_Pet GROUP BY Has_Pet.StuID

Idx:105 different! False - True
db_id: car_1
question: How many car makers are there in each continents? List the continent name and the count.
gold: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;
pred1: SELECT continents.Continent, Count(*) FROM continents JOIN countries ON continents.ContId = countries.Continent GROUP BY continents.Continent
pred2: SELECT continents.Continent, Count(*) FROM continents JOIN countries ON continents.ContId = countries.Continent GROUP BY continents.Continent

Idx:146 different! False - True
db_id: car_1
question: In 1980, how many cars were made?
gold: SELECT count(*) FROM CARS_DATA WHERE YEAR  =  1980;
pred1: SELECT Count(*) FROM car_names JOIN cars_data ON car_names.MakeId = cars_data.Id WHERE cars_data.Year = 'terminal'
pred2: SELECT Count(*) FROM car_names JOIN cars_data ON car_names.MakeId = cars_data.Id WHERE cars_data.Year = 'terminal'

Idx:203 different! True - 0
db_id: flight_2
question: How many flights depart from 'APG'?
gold: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"
pred1: SELECT Count(*) FROM flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT Count(*) FROM flights WHERE flights.DestAirport = 'terminal'

Idx:204 different! True - 0
db_id: flight_2
question: Count the number of flights departing from 'APG'.
gold: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"
pred1: SELECT Count(*) FROM flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT Count(*) FROM flights WHERE flights.DestAirport = 'terminal'

Idx:206 different! True - 0
db_id: flight_2
question: Count the number of flights into ATO.
gold: SELECT count(*) FROM FLIGHTS WHERE DestAirport  =  "ATO"
pred1: SELECT Count(*) FROM flights WHERE flights.SourceAirport = 'terminal'
pred2: SELECT Count(*) FROM flights WHERE flights.SourceAirport = 'terminal'

Idx:209 different! True - 0
db_id: flight_2
question: How many flights arriving in Aberdeen city?
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"
pred1: SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal'
pred2: SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal'

Idx:210 different! True - 0
db_id: flight_2
question: Return the number of flights arriving in Aberdeen.
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"
pred1: SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal'
pred2: SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = 'terminal'

Idx:213 different! True - 0
db_id: flight_2
question: How many flights does airline 'JetBlue Airways' have?
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'

Idx:214 different! True - 0
db_id: flight_2
question: Give the number of Jetblue Airways flights.
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'

Idx:215 different! True - 0
db_id: flight_2
question: How many 'United Airlines' flights go to Airport 'ASY'?
gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'

Idx:216 different! True - 0
db_id: flight_2
question: Count the number of United Airlines flights arriving in ASY Airport.
gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'

Idx:217 different! True - 0
db_id: flight_2
question: How many 'United Airlines' flights depart from Airport 'AHD'?
gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'

Idx:218 different! True - 0
db_id: flight_2
question: Return the number of United Airlines flights leaving from AHD Airport.
gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"
pred1: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' AND airlines.Airline = 'terminal'

Idx:219 different! True - 0
db_id: flight_2
question: How many United Airlines flights go to City 'Aberdeen'?
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"
pred1: SELECT Count(*) FROM airlines JOIN airports JOIN flights WHERE airports.City = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN airports JOIN flights WHERE airports.City = 'terminal' AND airlines.Airline = 'terminal'

Idx:220 different! True - 0
db_id: flight_2
question: Count the number of United Airlines flights that arrive in Aberdeen.
gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"
pred1: SELECT Count(*) FROM airlines JOIN airports JOIN flights WHERE airports.City = 'terminal' AND airlines.Airline = 'terminal'
pred2: SELECT Count(*) FROM airlines JOIN airports JOIN flights WHERE airports.City = 'terminal' AND airlines.Airline = 'terminal'

Idx:221 different! True - 0
db_id: flight_2
question: Which city has most number of arriving flights?
gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
pred1: SELECT airports.City FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY airports.City ORDER BY Count(*) Desc LIMIT 1
pred2: SELECT airports.City FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY airports.City ORDER BY Count(*) Desc LIMIT 1

Idx:225 different! True - 0
db_id: flight_2
question: What is the code of airport that has the highest number of flights?
gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1
pred1: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Desc LIMIT 1
pred2: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Desc LIMIT 1

Idx:226 different! True - 0
db_id: flight_2
question: What is the airport code of the airport with the most flights?
gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1
pred1: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Desc LIMIT 1
pred2: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Desc LIMIT 1

Idx:227 different! True - 0
db_id: flight_2
question: What is the code of airport that has fewest number of flights?
gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1
pred1: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Asc LIMIT 1
pred2: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Asc LIMIT 1

Idx:228 different! True - 0
db_id: flight_2
question: Give the code of the airport with the least flights.
gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1
pred1: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Asc LIMIT 1
pred2: SELECT airports.AirportCode FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.DestAirport ORDER BY Count(*) Asc LIMIT 1

Idx:229 different! True - 0
db_id: flight_2
question: Which airline has most number of flights?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1
pred1: SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline ORDER BY Count(*) Desc LIMIT 1
pred2: SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline ORDER BY Count(*) Desc LIMIT 1

Idx:230 different! True - 0
db_id: flight_2
question: What airline serves the most flights?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1
pred1: SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline ORDER BY Count(*) Desc LIMIT 1
pred2: SELECT airlines.Airline FROM airlines JOIN flights GROUP BY airlines.Airline ORDER BY Count(*) Desc LIMIT 1

Idx:233 different! True - 0
db_id: flight_2
question: What are airlines that have some flight departing from airport 'AHD'?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:234 different! True - 0
db_id: flight_2
question: Which airlines have a flight with source airport AHD?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal'

Idx:235 different! True - 0
db_id: flight_2
question: What are airlines that have flights arriving at airport 'AHD'?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:236 different! True - 0
db_id: flight_2
question: Which airlines have a flight with destination airport AHD?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:237 different! True - 0
db_id: flight_2
question: Find all airlines that have flights from both airports 'APG' and 'CVO'.
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' INTERSECT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' INTERSECT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:238 different! True - 0
db_id: flight_2
question: Which airlines have departing flights from both APG and CVO airports?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal' INTERSECT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal' INTERSECT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.SourceAirport = 'terminal'

Idx:239 different! True - 0
db_id: flight_2
question: Find all airlines that have flights from airport 'CVO' but not from 'APG'.
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' EXCEPT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' EXCEPT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:240 different! True - 0
db_id: flight_2
question: Which airlines have departures from CVO but not from APG airports?
gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"
pred1: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' EXCEPT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'
pred2: SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal' EXCEPT SELECT airlines.Airline FROM airlines JOIN flights WHERE flights.DestAirport = 'terminal'

Idx:245 different! True - 0
db_id: flight_2
question: What are flight numbers of Airline "United Airlines"?
gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"
pred1: SELECT flights.FlightNo FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'
pred2: SELECT flights.FlightNo FROM airlines JOIN flights WHERE airlines.Airline = 'terminal'

Idx:246 different! True - 0
db_id: flight_2
question: Which flight numbers correspond to United Airlines flights?

([203,
  204,
  206,
  209,
  210,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  225,
  226,
  227,
  228,
  229,
  230,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  245,
  246,
  247,
  248,
  250,
  253,
  254,
  255,
  256,
  451,
  452,
  487,
  488,
  544,
  707,
  888,
  889,
  904,
  905,
  906,
  907,
  908,
  909,
  912,
  913,
  944,
  945],
 [51, 52, 61, 62, 63, 79, 105, 146, 314, 353])

In [6]:
# Compare
project_dir = "/home/hkkang/NL2QGM/"

# BERT
bert_eval_0 = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-eval.json"
bert_infer_0 = "logdir/spider_bert_run_no_join_cond_seed_0/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-infer.jsonl"
bert_eval_1 = "logdir/spider_bert_run_no_join_cond_seed_2/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=2,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-eval.json"
bert_infer_1 = "logdir/spider_bert_run_no_join_cond_seed_2/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=2,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-infer.jsonl"
bert_eval_2 = "logdir/spider_bert_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-eval.json"
bert_infer_2 = "logdir/spider_bert_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/bert_run_true_1-step_41600-infer.jsonl"
# combine
bert_evals = [os.path.join(project_dir, bert_eval_0)]
bert_evals += [os.path.join(project_dir, bert_eval_1)]
bert_evals += [os.path.join(project_dir, bert_eval_2)]
bert_infers = [os.path.join(project_dir, bert_infer_0)]
bert_infers += [os.path.join(project_dir, bert_infer_1)]
bert_infers += [os.path.join(project_dir, bert_infer_2)]

# ELECTRA
# electra_eval_1 = "logdir/spider_electra_run_no_join_cond_seed_1/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=1,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_27000-eval.json"
# electra_infer_1 = "logdir/spider_electra_run_no_join_cond_seed_1/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=1,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_27000-infer.jsonl"
# electra_eval_2 = "logdir/spider_electra_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_64000-eval.json"
# electra_infer_2 = "logdir/spider_electra_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_64000-infer.jsonl"
# electra_eval_3 = "logdir/spider_electra_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_72000-eval.json"
# electra_infer_3 = "logdir/spider_electra_run_no_join_cond_seed_3/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=3,join_cond=false/ie_dirs_my_eval/electra_run_true_1-step_72000-infer.jsonl"
electra_eval_1 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_18000-eval.json"
electra_infer_1 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_18000-infer.jsonl"
electra_eval_2 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_25000-eval.json"
electra_infer_2 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_25000-infer.jsonl"
electra_eval_3 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_26000-eval.json"
electra_infer_3 = "logdir/spider_electra_run_no_join_cond_seed_0_squad_batch_32/bs=8,lr=7.4e-04,bert_lr=1.0e-05,end_lr=0e0,seed=0,join_cond=false/ie_dirs/electra_run_true_1-step_26000-infer.jsonl"


# combine
electra_evals = [os.path.join(project_dir, electra_eval_1)]
electra_evals += [os.path.join(project_dir, electra_eval_2)]
electra_evals += [os.path.join(project_dir, electra_eval_3)]
electra_infers = [os.path.join(project_dir, electra_infer_1)]
electra_infers += [os.path.join(project_dir, electra_infer_2)]
electra_infers += [os.path.join(project_dir, electra_infer_3)]

In [7]:
# Read in files
# BERT
bert_evals = load_eval_files(bert_evals)
bert_infers = load_infer_files(bert_infers)
# ELECTRA
electra_evals = load_eval_files(electra_evals)
electra_infers = load_infer_files(electra_infers)

1034
1034
1034
1034
1034
1034

In [8]:
def all_wrong(evals, idx):    
    flags = [result[idx]['exact'] for result in evals]
    return True not in flags

In [9]:
bert_all_wrong = []
electra_all_wrong = []
for idx in range(1034):
    if all_wrong(bert_evals, idx):
        bert_all_wrong.append(idx)
    if all_wrong(electra_evals, idx):
        electra_all_wrong.append(idx)
print(f"Bert all wrong ({len(bert_all_wrong)}): {bert_all_wrong}")
print(f"\nElectra all wrong ({len(electra_all_wrong)}): {electra_all_wrong}")

Bert all wrong (253): [5, 6, 16, 17, 43, 44, 47, 48, 50, 64, 65, 66, 68, 83, 84, 94, 96, 97, 98, 101, 102, 109, 110, 116, 123, 124, 129, 130, 131, 132, 133, 138, 140, 142, 154, 158, 159, 160, 161, 162, 166, 167, 168, 171, 172, 174, 175, 177, 178, 180, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 224, 225, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 253, 254, 255, 256, 257, 258, 265, 336, 407, 408, 413, 423, 448, 451, 452, 453, 454, 459, 460, 470, 479, 480, 485, 486, 487, 488, 493, 494, 495, 500, 505, 520, 526, 533, 534, 536, 537, 539, 541, 542, 549, 550, 557, 558, 559, 560, 561, 571, 572, 575, 576, 578, 583, 584, 591, 592, 637, 642, 645, 646, 691, 707, 709, 712, 713, 716, 717, 724, 725, 726, 728, 736, 737, 738, 739, 744, 745, 748, 749, 754, 755, 757, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 792, 793, 798, 799, 809, 816, 817, 818, 819, 820, 821, 884, 885, 890, 891, 892, 897, 898, 899, 904, 905, 906, 907, 908, 909, 911, 912, 913, 914, 915, 916, 917, 921, 922, 923, 924, 925, 926, 927, 934, 935, 937, 940, 941, 944, 945, 954, 955, 960, 961, 977, 992, 993, 996, 998, 1023, 1032, 1033]

Electra all wrong (185): [4, 5, 17, 43, 44, 47, 48, 60, 61, 62, 63, 64, 65, 66, 79, 80, 95, 96, 97, 98, 101, 102, 109, 110, 116, 121, 122, 123, 124, 129, 130, 131, 133, 138, 142, 150, 154, 159, 160, 161, 162, 165, 166, 167, 168, 171, 172, 173, 174, 175, 176, 177, 178, 211, 212, 220, 231, 232, 241, 242, 257, 258, 287, 288, 314, 367, 368, 405, 406, 407, 408, 413, 435, 440, 448, 453, 454, 459, 460, 485, 486, 493, 494, 495, 500, 526, 536, 537, 539, 540, 541, 542, 548, 549, 550, 559, 561, 570, 571, 572, 573, 574, 576, 578, 642, 645, 646, 657, 707, 712, 713, 723, 724, 725, 738, 739, 744, 745, 748, 749, 754, 755, 760, 761, 764, 765, 766, 767, 768, 769, 770, 771, 772, 774, 775, 776, 782, 783, 784, 785, 786, 787, 792, 793, 794, 798, 809, 816, 817, 818, 819, 820, 821, 883, 884, 885, 890, 891, 896, 897, 898, 899, 914, 915, 916, 917, 920, 921, 924, 925, 926, 927, 934, 935, 937, 940, 954, 960, 961, 990, 992, 993, 1023, 1032, 1033]

In [10]:
only_bert_all_wrong = []
only_electra_all_wrong = []
together_all_wrong = []
for idx in range(1034):
    if all_wrong(bert_evals, idx) and not all_wrong(electra_evals, idx):
        print(f"idx:{idx} only bert all wrong!")
        only_bert_all_wrong.append(idx)
    if all_wrong(electra_evals, idx) and not all_wrong(bert_evals, idx):
        print(f"idx:{idx} only electra all wrong!")
        only_electra_all_wrong.append(idx)
        
    if all_wrong(electra_evals, idx) and all_wrong(bert_evals, idx):
        together_all_wrong.append(idx)
    
print(f"\nOnly bert all wrong:{only_bert_all_wrong}")
print(f"\nOnly electra all wrong:{only_electra_all_wrong}")
print(f"\nTogether all wrong:{together_all_wrong}")
    
print(f"\nSummary: only_bert_all_wrong:{len(only_bert_all_wrong)}")
print(f"Summary: only_electra_all_wrong:{len(only_electra_all_wrong)}")
print(f"Summary: together_all_wrong:{len(together_all_wrong)}")

idx:4 only electra all wrong!
idx:6 only bert all wrong!
idx:16 only bert all wrong!
idx:50 only bert all wrong!
idx:60 only electra all wrong!
idx:61 only electra all wrong!
idx:62 only electra all wrong!
idx:63 only electra all wrong!
idx:68 only bert all wrong!
idx:79 only electra all wrong!
idx:80 only electra all wrong!
idx:83 only bert all wrong!
idx:84 only bert all wrong!
idx:94 only bert all wrong!
idx:95 only electra all wrong!
idx:121 only electra all wrong!
idx:122 only electra all wrong!
idx:132 only bert all wrong!
idx:140 only bert all wrong!
idx:150 only electra all wrong!
idx:158 only bert all wrong!
idx:165 only electra all wrong!
idx:173 only electra all wrong!
idx:176 only electra all wrong!
idx:180 only bert all wrong!
idx:209 only bert all wrong!
idx:210 only bert all wrong!
idx:213 only bert all wrong!
idx:214 only bert all wrong!
idx:215 only bert all wrong!
idx:216 only bert all wrong!
idx:217 only bert all wrong!
idx:218 only bert all wrong!
idx:219 only bert all wrong!
idx:221 only bert all wrong!
idx:222 only bert all wrong!
idx:224 only bert all wrong!
idx:225 only bert all wrong!
idx:229 only bert all wrong!
idx:230 only bert all wrong!
idx:233 only bert all wrong!
idx:234 only bert all wrong!
idx:235 only bert all wrong!
idx:236 only bert all wrong!
idx:237 only bert all wrong!
idx:238 only bert all wrong!
idx:239 only bert all wrong!
idx:240 only bert all wrong!
idx:243 only bert all wrong!
idx:244 only bert all wrong!
idx:245 only bert all wrong!
idx:246 only bert all wrong!
idx:247 only bert all wrong!
idx:248 only bert all wrong!
idx:253 only bert all wrong!
idx:254 only bert all wrong!
idx:255 only bert all wrong!
idx:256 only bert all wrong!
idx:265 only bert all wrong!
idx:287 only electra all wrong!
idx:288 only electra all wrong!
idx:314 only electra all wrong!
idx:336 only bert all wrong!
idx:367 only electra all wrong!
idx:368 only electra all wrong!
idx:405 only electra all wrong!
idx:406 only electra all wrong!
idx:423 only bert all wrong!
idx:435 only electra all wrong!
idx:440 only electra all wrong!
idx:451 only bert all wrong!
idx:452 only bert all wrong!
idx:470 only bert all wrong!
idx:479 only bert all wrong!
idx:480 only bert all wrong!
idx:487 only bert all wrong!
idx:488 only bert all wrong!
idx:505 only bert all wrong!
idx:520 only bert all wrong!
idx:533 only bert all wrong!
idx:534 only bert all wrong!
idx:540 only electra all wrong!
idx:548 only electra all wrong!
idx:557 only bert all wrong!
idx:558 only bert all wrong!
idx:560 only bert all wrong!
idx:570 only electra all wrong!
idx:573 only electra all wrong!
idx:574 only electra all wrong!
idx:575 only bert all wrong!
idx:583 only bert all wrong!
idx:584 only bert all wrong!
idx:591 only bert all wrong!
idx:592 only bert all wrong!
idx:637 only bert all wrong!
idx:657 only electra all wrong!
idx:691 only bert all wrong!
idx:709 only bert all wrong!
idx:716 only bert all wrong!
idx:717 only bert all wrong!
idx:723 only electra all wrong!
idx:726 only bert all wrong!
idx:728 only bert all wrong!
idx:736 only bert all wrong!
idx:737 only bert all wrong!
idx:757 only bert all wrong!
idx:759 only bert all wrong!
idx:762 only bert all wrong!
idx:763 only bert all wrong!
idx:773 only bert all wrong!
idx:775 only electra all wrong!
idx:776 only electra all wrong!
idx:777 only bert all wrong!
idx:778 only bert all wrong!
idx:779 only bert all wrong!
idx:780 only bert all wrong!
idx:781 only bert all wrong!
idx:794 only electra all wrong!
idx:799 only bert all wrong!
idx:883 only electra all wrong!
idx:892 only bert all wrong!
idx:896 only electra all wrong!
idx:904 only bert all wrong!
idx:905 only bert all wrong!
idx:906 only bert all wrong!
idx:907 only bert all wrong!
idx:908 only bert all wrong!
idx:909 only bert all wrong!
idx:911 only bert all wrong!
idx:912 only bert all wrong!
idx:913 only bert all wrong!
idx:920 only electra all wrong!
idx:922 only bert all wrong!
idx:923 only bert all wrong!
idx:941 only bert all wrong!
idx:944 only bert all wrong!
idx:945 only bert all wrong!
idx:955 only bert all wrong!
idx:977 only bert all wrong!
idx:990 only electra all wrong!
idx:996 only bert all wrong!
idx:998 only bert all wrong!

Only bert all wrong:[6, 16, 50, 68, 83, 84, 94, 132, 140, 158, 180, 209, 210, 213, 214, 215, 216, 217, 218, 219, 221, 222, 224, 225, 229, 230, 233, 234, 235, 236, 237, 238, 239, 240, 243, 244, 245, 246, 247, 248, 253, 254, 255, 256, 265, 336, 423, 451, 452, 470, 479, 480, 487, 488, 505, 520, 533, 534, 557, 558, 560, 575, 583, 584, 591, 592, 637, 691, 709, 716, 717, 726, 728, 736, 737, 757, 759, 762, 763, 773, 777, 778, 779, 780, 781, 799, 892, 904, 905, 906, 907, 908, 909, 911, 912, 913, 922, 923, 941, 944, 945, 955, 977, 996, 998]

Only electra all wrong:[4, 60, 61, 62, 63, 79, 80, 95, 121, 122, 150, 165, 173, 176, 287, 288, 314, 367, 368, 405, 406, 435, 440, 540, 548, 570, 573, 574, 657, 723, 775, 776, 794, 883, 896, 920, 990]

Together all wrong:[5, 17, 43, 44, 47, 48, 64, 65, 66, 96, 97, 98, 101, 102, 109, 110, 116, 123, 124, 129, 130, 131, 133, 138, 142, 154, 159, 160, 161, 162, 166, 167, 168, 171, 172, 174, 175, 177, 178, 211, 212, 220, 231, 232, 241, 242, 257, 258, 407, 408, 413, 448, 453, 454, 459, 460, 485, 486, 493, 494, 495, 500, 526, 536, 537, 539, 541, 542, 549, 550, 559, 561, 571, 572, 576, 578, 642, 645, 646, 707, 712, 713, 724, 725, 738, 739, 744, 745, 748, 749, 754, 755, 760, 761, 764, 765, 766, 767, 768, 769, 770, 771, 772, 774, 782, 783, 784, 785, 786, 787, 792, 793, 798, 809, 816, 817, 818, 819, 820, 821, 884, 885, 890, 891, 897, 898, 899, 914, 915, 916, 917, 921, 924, 925, 926, 927, 934, 935, 937, 940, 954, 960, 961, 992, 993, 1023, 1032, 1033]

Summary: only_bert_all_wrong:105
Summary: only_electra_all_wrong:37
Summary: together_all_wrong:148

In [11]:
# Show results
def print_result(eval_datas, infer_datas, idx):
    infer_datum = infer_data[0][idx]
    eval_datum = eval_data[0][idx]
    print(f"idx: {idx}")
    print(f"db_id: {infer_datum['db_id']}")
    print(f"question: {infer_datum['question']}\n")
    print(f"GOLD: {eval_datum['gold']}")
    print(f"PRED1: {eval_datas[0][idx]['predicted']}")
    print(f"PRED2: {eval_datas[1][idx]['predicted']}")
    print(f"PRED3: {eval_datas[2][idx]['predicted']}\n\n")

In [37]:
indices = [731]
eval_data = electra_evals
infer_data = electra_infers

for idx in indices:
    print_result(eval_data, infer_data, idx)

idx: 731
db_id: world_1
question: Give the mean GNP and total population of nations which are considered US territory.

GOLD: SELECT avg(GNP) ,  sum(population) FROM country WHERE GovernmentForm  =  "US Territory"
PRED1: SELECT Avg(country.GNP), Sum(country.Population) FROM country WHERE country.GovernmentForm = 'terminal'
PRED2: SELECT Avg(country.GNP), Sum(country.Population) FROM country WHERE country.GovernmentForm = 'terminal'
PRED3: SELECT Avg(country.GNP), Sum(country.Population) FROM country WHERE country.GovernmentForm = 'terminal'